<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a id="logo" class="brand" href="#">Swagsite</a>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Daily 5", "#" %></li>
          <li><%= link_to "Games", "#" %></li>
          <li><%= link_to "Search Wins", "#" %></li>
          <li><%= link_to "Special Offers", "#" %></li>
          <li><%= link_to "Surveys", "#" %></li>
          <li><%= link_to "Tasks", "#" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
