<!DOCTYPE html>
<html>
<head>
  <title>Swagsite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width,
                        initial-scale=1.0, maximum-scale=1">

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <section>
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
